body { background: url(fondo/fondo.jpg) center fixed no-repeat;
       motion-rotation: 5deg
} 
body{
       background-size: cover
}

h1 {
       color: rgba(14, 190, 243, 0.904)}
p{
       color: rgba(55, 205, 224, 0.945)
}
h2{
       color: rgb(13, 243, 109)
}
thead{
        
       color: rgba(48, 14, 158, 0.966)
}
th{
       color: rgb(200, 200, 200)
}
tr{
       color: rgb(200, 58, 177)
}
h3{
       color: rgb(59, 107, 184)
}
h4{
       color: rgb(200, 200, 200)
}   
img{
       margin: 3%
}
video{
       width: 800px
}